header{
    border: 1px solid black;
    width: 100vw;
    height: 10vh;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
    text-decoration: none;
}

#sections{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

main{
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cards{
    flex-wrap: wrap;
    display: flex;
    width: 1650px;
    justify-content: center;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 32%;
}

iframe{
    width: 518px;
}

#disclaimer{
    color: red;
    width: 100%;
}

#logo{
    flex-wrap: wrap;
    display: flex;
}

img{
    width: 100px;
}